.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  width: 500px;
  height: 80px;
  opacity: 0.8; /* cs standard */
  filter: alpha(opacity=60);
}
.video-item:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.video-item.item img {
  height: 70px;
  border-radius: 20px;
  border: 1px solid black;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
